header {
    background-color: rgb(255, 254, 196);
}

#heading {
    color: rgb(255, 254, 196);
}

main {
    background-color: rgb(255, 102, 0);
}

footer {
    background-color: #14acb1e1;
    color: rgb(255, 254, 196);
}